* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #1f4068;
  z-index: 1;
  opacity: 0.65;
}

.header-content {
  z-index: 2;
  display: inline-block;
  margin: auto;
}

.header-content h1{
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
}

.btn-lanjut {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #3b78c5;
  decoration: none;
}

.btn-lanjut:hover {
  background: linear-gradient(90deg, #0f4c75, #3282b8, #bbe1fa);
  color: #fff;
  background-size: 400%;
  z-index: 1;
  animation: glow 8s linear infinite;
}

.btn-lanjut::before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity .5s;
}

.btn-lanjut:hover:before {
  opacity: 1;
  z-index: -1;
}

@keyframes glow {
  0% {background-position: 0%; }
  100% {background-position: 400%; }
}

@media (max-aspect-ratio: 16/9) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .container {
    width: auto;
    height: 100%;
  }
}

